## Pandas data manipulation for SQL people

In [1]:
import pandas as pd
import numpy as np

In [2]:

sch=pd.read_csv("/Users/eliewahachaligha/Desktop/ML-Zoomcamp/course_homework/ml-zoomcamp-homework-2025/data/NYC_HighSchools.csv")
bike=pd.read_csv("/Users/eliewahachaligha/Desktop/ML-Zoomcamp/course_homework/ml-zoomcamp-homework-2025/data/JC-201509-citibike-tripdata.csv")

In [3]:
bike.head(n=10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717732,-74.043845,3185,City Hall,40.717732,-74.043845,24722,Subscriber,1975.0,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,2
5,401,2015-09-21 15:06:03,2015-09-21 15:12:44,3195,Sip Ave,40.730743,-74.063784,3195,Sip Ave,40.730743,-74.063784,24520,Subscriber,1987.0,2
6,1215,2015-09-21 15:11:15,2015-09-21 15:31:31,3185,City Hall,40.717732,-74.043845,3209,Brunswick St,40.724176,-74.050656,24441,Subscriber,1964.0,1
7,1144,2015-09-21 15:11:31,2015-09-21 15:30:36,3185,City Hall,40.717732,-74.043845,3209,Brunswick St,40.724176,-74.050656,24719,Subscriber,1961.0,1
8,1967,2015-09-21 15:12:08,2015-09-21 15:44:56,3185,City Hall,40.717732,-74.043845,3195,Sip Ave,40.730743,-74.063784,24706,Subscriber,1952.0,1
9,205,2015-09-21 15:16:43,2015-09-21 15:20:08,3195,Sip Ave,40.730743,-74.063784,3195,Sip Ave,40.730743,-74.063784,24555,Subscriber,1987.0,2

In [4]:
sch.head(n=10)

,BOROUGH,SCHOOL_NAME,NEIGHBORHOOD,INTEREST,METHOD,TOTAL_STUDENTS,GRADUATION_RATE,ATTENDANCE_RATE,COLLEGE_CAREER_RATE,SAFE,SEATS,APPLICANTS,DBN,LATITUDE,LONGITUDE,LANGUAGE_CLASSES,ADVANCED_PLACEMENT_COURSES,SCHOOL_SPORTS
0,MANHATTAN,The Urban Assembly School for Media Studies,Lincoln Square,Communications,Ed. Opt.,397,77,84,54,92,90.0,349.0,03M307,40.77435,-73.98475,Italian,"AP English Language and Composition, AP Englis...","Basketball, Cheerleading"
1,QUEENS,York Early College Academy,South Jamaica,Humanities & Interdisciplinary,Screened,646,99,95,94,93,68.0,1203.0,28Q284,40.69718,-73.78719,Spanish,"AP United States History, AP World History: Mo...",NaN
2,BRONX,Bronx Academy for Software Engineering (BASE),Belmont,Computer Science & Technology,Ed. Opt.,426,78,88,0,82,85.0,1316.0,10X264,40.85569,-73.88271,Spanish,"AP Computer Science A, AP Computer Science Pri...",NaN
3,QUEENS,"Queens School of Inquiry, The",Kew Gardens Hills,Humanities & Interdisciplinary,Screened,576,95,93,97,82,72.0,1119.0,25Q252,40.72445,-73.81021,"Cantonese, French, Korean, Latin, Russian, Spa...","AP Biology, AP Computer Science Principles, AP...","Baseball/Softball, Volleyball"
4,QUEENS,Queens High School for Language Studies,Flushing,Humanities & Interdisciplinary,Screened: Language,427,95,95,0,94,90.0,278.0,25Q241,40.76516,-73.82788,Mandarin,"AP Biology, AP Calculus BC, AP Chinese Languag...",NaN
5,MANHATTAN,Professional Performing Arts High School (PPAS),Clinton,Performing Arts,Audition,565,93,93,74,96,17.0,315.0,02M408,40.76144,-73.98801,Spanish,"AP Biology, AP Calculus AB, AP Chemistry, AP E...",NaN
6,QUEENS,High School for Community Leadership,Briarwood-Jamaica Hills,Culinary Arts,Ed. Opt.,469,91,87,56,92,90.0,474.0,28Q328,40.71321,-73.79723,"French, Spanish","AP Biology, AP Calculus AB, AP Chemistry, AP C...",Cheerleading
7,BROOKLYN,George Westinghouse Career and Technical Educa...,DUMBO-Downtown Brooklyn,Computer Science & Technology,Screened,756,74,88,39,79,47.0,561.0,13K605,40.69492,-73.98601,Spanish,"AP Computer Science Principles, AP English Lan...",NaN
8,BRONX,High School of Computers and Technology,Williamsbridge-Olinville,Computer Science & Technology,Ed. Opt.,569,61,87,62,83,118.0,1276.0,11X275,40.87595,-73.86196,"Japanese, Spanish","AP English Language and Composition, AP Englis...",NaN
9,QUEENS,Long Island City High School,Astoria,Computer Science & Technology,Ed. Opt.,2256,66,86,45,78,114.0,428.0,30Q450,40.76582,-73.93280,"French, Greek, Italian, Mandarin, Spanish","AP Biology, AP Calculus AB, AP Chemistry, AP D...",NaN

In [5]:
sch.head(n=10)

,BOROUGH,SCHOOL_NAME,NEIGHBORHOOD,INTEREST,METHOD,TOTAL_STUDENTS,GRADUATION_RATE,ATTENDANCE_RATE,COLLEGE_CAREER_RATE,SAFE,SEATS,APPLICANTS,DBN,LATITUDE,LONGITUDE,LANGUAGE_CLASSES,ADVANCED_PLACEMENT_COURSES,SCHOOL_SPORTS
0,MANHATTAN,The Urban Assembly School for Media Studies,Lincoln Square,Communications,Ed. Opt.,397,77,84,54,92,90.0,349.0,03M307,40.77435,-73.98475,Italian,"AP English Language and Composition, AP Englis...","Basketball, Cheerleading"
1,QUEENS,York Early College Academy,South Jamaica,Humanities & Interdisciplinary,Screened,646,99,95,94,93,68.0,1203.0,28Q284,40.69718,-73.78719,Spanish,"AP United States History, AP World History: Mo...",NaN
2,BRONX,Bronx Academy for Software Engineering (BASE),Belmont,Computer Science & Technology,Ed. Opt.,426,78,88,0,82,85.0,1316.0,10X264,40.85569,-73.88271,Spanish,"AP Computer Science A, AP Computer Science Pri...",NaN
3,QUEENS,"Queens School of Inquiry, The",Kew Gardens Hills,Humanities & Interdisciplinary,Screened,576,95,93,97,82,72.0,1119.0,25Q252,40.72445,-73.81021,"Cantonese, French, Korean, Latin, Russian, Spa...","AP Biology, AP Computer Science Principles, AP...","Baseball/Softball, Volleyball"
4,QUEENS,Queens High School for Language Studies,Flushing,Humanities & Interdisciplinary,Screened: Language,427,95,95,0,94,90.0,278.0,25Q241,40.76516,-73.82788,Mandarin,"AP Biology, AP Calculus BC, AP Chinese Languag...",NaN
5,MANHATTAN,Professional Performing Arts High School (PPAS),Clinton,Performing Arts,Audition,565,93,93,74,96,17.0,315.0,02M408,40.76144,-73.98801,Spanish,"AP Biology, AP Calculus AB, AP Chemistry, AP E...",NaN
6,QUEENS,High School for Community Leadership,Briarwood-Jamaica Hills,Culinary Arts,Ed. Opt.,469,91,87,56,92,90.0,474.0,28Q328,40.71321,-73.79723,"French, Spanish","AP Biology, AP Calculus AB, AP Chemistry, AP C...",Cheerleading
7,BROOKLYN,George Westinghouse Career and Technical Educa...,DUMBO-Downtown Brooklyn,Computer Science & Technology,Screened,756,74,88,39,79,47.0,561.0,13K605,40.69492,-73.98601,Spanish,"AP Computer Science Principles, AP English Lan...",NaN
8,BRONX,High School of Computers and Technology,Williamsbridge-Olinville,Computer Science & Technology,Ed. Opt.,569,61,87,62,83,118.0,1276.0,11X275,40.87595,-73.86196,"Japanese, Spanish","AP English Language and Composition, AP Englis...",NaN
9,QUEENS,Long Island City High School,Astoria,Computer Science & Technology,Ed. Opt.,2256,66,86,45,78,114.0,428.0,30Q450,40.76582,-73.93280,"French, Greek, Italian, Mandarin, Spanish","AP Biology, AP Calculus AB, AP Chemistry, AP D...",NaN

In [6]:
def clean_data(df):
    df.columns= df.columns.str.lower()
    strings = list(df.dtypes[df.dtypes == 'object'].index)

    for col in strings:
        df[col] = df[col].str.lower().str.replace(' ', '_')
    return df

In [7]:
sch  = clean_data(sch)
bike = clean_data(bike)

In [8]:
sch.head(n=10)

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
0,manhattan,the_urban_assembly_school_for_media_studies,lincoln_square,communications,ed._opt.,397,77,84,54,92,90.0,349.0,03m307,40.77435,-73.98475,italian,"ap_english_language_and_composition,_ap_englis...","basketball,_cheerleading"
1,queens___,york_early_college_academy,south_jamaica,humanities_&_interdisciplinary,screened,646,99,95,94,93,68.0,1203.0,28q284,40.69718,-73.78719,spanish,"ap_united_states_history,_ap_world_history:_mo...",NaN
2,bronx____,bronx_academy_for_software_engineering_(base),belmont,computer_science_&_technology,ed._opt.,426,78,88,0,82,85.0,1316.0,10x264,40.85569,-73.88271,spanish,"ap_computer_science_a,_ap_computer_science_pri...",NaN
3,queens___,"queens_school_of_inquiry,_the",kew_gardens_hills,humanities_&_interdisciplinary,screened,576,95,93,97,82,72.0,1119.0,25q252,40.72445,-73.81021,"cantonese,_french,_korean,_latin,_russian,_spa...","ap_biology,_ap_computer_science_principles,_ap...","baseball/softball,_volleyball"
4,queens___,queens_high_school_for_language_studies,flushing,humanities_&_interdisciplinary,screened:_language,427,95,95,0,94,90.0,278.0,25q241,40.76516,-73.82788,mandarin,"ap_biology,_ap_calculus_bc,_ap_chinese_languag...",NaN
5,manhattan,professional_performing_arts_high_school_(ppas),clinton,performing_arts,audition,565,93,93,74,96,17.0,315.0,02m408,40.76144,-73.98801,spanish,"ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_e...",NaN
6,queens___,high_school_for_community_leadership,briarwood-jamaica_hills,culinary_arts,ed._opt.,469,91,87,56,92,90.0,474.0,28q328,40.71321,-73.79723,"french,_spanish","ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_c...",cheerleading
7,brooklyn_,george_westinghouse_career_and_technical_educa...,dumbo-downtown_brooklyn,computer_science_&_technology,screened,756,74,88,39,79,47.0,561.0,13k605,40.69492,-73.98601,spanish,"ap_computer_science_principles,_ap_english_lan...",NaN
8,bronx____,high_school_of_computers_and_technology,williamsbridge-olinville,computer_science_&_technology,ed._opt.,569,61,87,62,83,118.0,1276.0,11x275,40.87595,-73.86196,"japanese,_spanish","ap_english_language_and_composition,_ap_englis...",NaN
9,queens___,long_island_city_high_school,astoria,computer_science_&_technology,ed._opt.,2256,66,86,45,78,114.0,428.0,30q450,40.76582,-73.93280,"french,_greek,_italian,_mandarin,_spanish","ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_d...",NaN

In [9]:
bike.head(n=10)

,trip duration,start time,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bike id,user type,birth year,gender
0,61,2015-09-21_14:53:16,2015-09-21_14:54:17,3185,city_hall,40.717732,-74.043845,3185,city_hall,40.717732,-74.043845,24722,subscriber,1975.0,1
1,290,2015-09-21_14:55:59,2015-09-21_15:00:50,3183,exchange_place,40.716247,-74.033459,3187,warren_st,40.721124,-74.038051,24388,customer,NaN,0
2,786,2015-09-21_14:56:14,2015-09-21_15:09:21,3183,exchange_place,40.716247,-74.033459,3183,exchange_place,40.716247,-74.033459,24442,subscriber,1962.0,1
3,477,2015-09-21_14:58:35,2015-09-21_15:06:32,3203,hamilton_park,40.727596,-74.044247,3203,hamilton_park,40.727596,-74.044247,24678,subscriber,1977.0,2
4,451,2015-09-21_14:59:55,2015-09-21_15:07:27,3203,hamilton_park,40.727596,-74.044247,3186,grove_st_path,40.719586,-74.043117,24574,subscriber,1977.0,2
5,401,2015-09-21_15:06:03,2015-09-21_15:12:44,3195,sip_ave,40.730743,-74.063784,3195,sip_ave,40.730743,-74.063784,24520,subscriber,1987.0,2
6,1215,2015-09-21_15:11:15,2015-09-21_15:31:31,3185,city_hall,40.717732,-74.043845,3209,brunswick_st,40.724176,-74.050656,24441,subscriber,1964.0,1
7,1144,2015-09-21_15:11:31,2015-09-21_15:30:36,3185,city_hall,40.717732,-74.043845,3209,brunswick_st,40.724176,-74.050656,24719,subscriber,1961.0,1
8,1967,2015-09-21_15:12:08,2015-09-21_15:44:56,3185,city_hall,40.717732,-74.043845,3195,sip_ave,40.730743,-74.063784,24706,subscriber,1952.0,1
9,205,2015-09-21_15:16:43,2015-09-21_15:20:08,3195,sip_ave,40.730743,-74.063784,3195,sip_ave,40.730743,-74.063784,24555,subscriber,1987.0,2

In [10]:
# remove underscore on borough column in sch dataset
sch["borough"] = sch["borough"].str.rstrip("_")
sch.head(n=15)

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
0,manhattan,the_urban_assembly_school_for_media_studies,lincoln_square,communications,ed._opt.,397,77,84,54,92,90.0,349.0,03m307,40.77435,-73.98475,italian,"ap_english_language_and_composition,_ap_englis...","basketball,_cheerleading"
1,queens,york_early_college_academy,south_jamaica,humanities_&_interdisciplinary,screened,646,99,95,94,93,68.0,1203.0,28q284,40.69718,-73.78719,spanish,"ap_united_states_history,_ap_world_history:_mo...",NaN
2,bronx,bronx_academy_for_software_engineering_(base),belmont,computer_science_&_technology,ed._opt.,426,78,88,0,82,85.0,1316.0,10x264,40.85569,-73.88271,spanish,"ap_computer_science_a,_ap_computer_science_pri...",NaN
3,queens,"queens_school_of_inquiry,_the",kew_gardens_hills,humanities_&_interdisciplinary,screened,576,95,93,97,82,72.0,1119.0,25q252,40.72445,-73.81021,"cantonese,_french,_korean,_latin,_russian,_spa...","ap_biology,_ap_computer_science_principles,_ap...","baseball/softball,_volleyball"
4,queens,queens_high_school_for_language_studies,flushing,humanities_&_interdisciplinary,screened:_language,427,95,95,0,94,90.0,278.0,25q241,40.76516,-73.82788,mandarin,"ap_biology,_ap_calculus_bc,_ap_chinese_languag...",NaN
5,manhattan,professional_performing_arts_high_school_(ppas),clinton,performing_arts,audition,565,93,93,74,96,17.0,315.0,02m408,40.76144,-73.98801,spanish,"ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_e...",NaN
6,queens,high_school_for_community_leadership,briarwood-jamaica_hills,culinary_arts,ed._opt.,469,91,87,56,92,90.0,474.0,28q328,40.71321,-73.79723,"french,_spanish","ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_c...",cheerleading
7,brooklyn,george_westinghouse_career_and_technical_educa...,dumbo-downtown_brooklyn,computer_science_&_technology,screened,756,74,88,39,79,47.0,561.0,13k605,40.69492,-73.98601,spanish,"ap_computer_science_principles,_ap_english_lan...",NaN
8,bronx,high_school_of_computers_and_technology,williamsbridge-olinville,computer_science_&_technology,ed._opt.,569,61,87,62,83,118.0,1276.0,11x275,40.87595,-73.86196,"japanese,_spanish","ap_english_language_and_composition,_ap_englis...",NaN
9,queens,long_island_city_high_school,astoria,computer_science_&_technology,ed._opt.,2256,66,86,45,78,114.0,428.0,30q450,40.76582,-73.93280,"french,_greek,_italian,_mandarin,_spanish","ap_biology,_ap_calculus_ab,_ap_chemistry,_ap_d...",NaN
10,manhattan,pace_high_school,chinatown,humanities_&_interdisciplinary,ed._opt.,537,86,87,77,91,124.0,2831.0,02m298,40.71655,-73.99309,spanish,"ap_biology,_ap_calculus_ab,_ap_english_languag...","badminton,_soccer"
11,brooklyn,the_urban_assembly_school_for_collaborative_he...,cypress_hills,health_professions,ed._opt.,313,0,87,0,78,67.0,220.0,19k764,40.69114,-73.86832,spanish,"ap_chemistry,_ap_english_language_and_composit...","baseball/softball,_basketball,_dance,_football..."
12,manhattan,richard_r._green_high_school_of_teaching,lower_manhattan,teaching,ed._opt.,499,68,87,53,85,66.0,151.0,02m580,40.70502,-74.01297,spanish,"ap_art_history,_ap_biology,_ap_computer_scienc...",NaN
13,bronx,pan_american_international_high_school_at_monroe,west_farms-bronx_river,humanities_&_interdisciplinary,screened:_language,478,79,88,59,94,85.0,351.0,12x388,40.83160,-73.87891,spanish,"ap_spanish_language_and_culture,_ap_spanish_li...",NaN
14,bronx,gotham_collaborative_high_school,castle_hill-clason_point,humanities_&_interdisciplinary,ed._opt.,553,67,80,36,82,85.0,227.0,08x452,40.82229,-73.85616,spanish,ap_computer_science_principles,"baseball/softball,_basketball,_football,_socce..."

In [11]:
# SELECT * FROM users WHERE school_name LIKE 'e%'

sch[sch["school_name"].str.startswith('e')]

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
27,queens,eagle_academy_for_young_men_iii,st._albans,humanities_&_interdisciplinary,ed._opt.,531,93,91,0,63,63.0,127.0,29q327,40.69171,-73.77892,spanish,"ap_biology,_ap_english_language_and_compositio...",NaN
34,bronx,eagle_academy_for_young_men,claremont-bathgate,humanities_&_interdisciplinary,for_continuing_8th_graders,511,74,87,64,71,NaN,NaN,09x231,40.84495,-73.89704,spanish,"ap_calculus_ab,_ap_english_literature_and_comp...",NaN
46,brooklyn,east_new_york_family_academy,east_new_york,humanities_&_interdisciplinary,screened,496,95,88,68,85,62.0,489.0,19k409,40.67413,-73.89642,"french,_spanish","ap_computer_science_principles,_ap_english_lan...",we_offer_intramural_sport_opportunities_for_al...
59,queens,energy_tech_high_school,queensbridge-lic,engineering,ed._opt.,511,93,94,0,85,83.0,1186.0,30q258,40.75706,-73.93266,spanish,"ap_computer_science_principles,_ap_english_lan...","basketball,_cheerleading,_football,_soccer,_tr..."
87,queens,epic_high_school_-_north,richmond_hill,humanities_&_interdisciplinary,open,390,0,89,0,93,68.0,479.0,27q334,40.69300,-73.82940,spanish,"ap_biology,_ap_computer_science_principles,_ap...","league_team_sports:_boys_baseball,_girls_softb..."
88,manhattan,east_side_community_school,east_village,humanities_&_interdisciplinary,screened,683,92,94,77,94,72.0,1263.0,01m450,40.72958,-73.98255,"french,_german,_greek,_hebrew,_hindi,_italian,...","ap_calculus_ab,_ap_computer_science_principles...","baseball/softball,_basketball,_soccer,_track/c..."
126,queens,epic_high_school_-_south,south_ozone_park,humanities_&_interdisciplinary,ed._opt.,329,0,84,0,88,78.0,286.0,27q314,40.67577,-73.81693,spanish,"ap_drawing,_ap_english_language_and_compositio...","baseball/softball,_basketball,_cheerleading"
131,bronx,east_bronx_academy_for_the_future,crotona_park_east,humanities_&_interdisciplinary,for_continuing_8th_graders,671,78,79,57,82,NaN,NaN,12x271,40.83635,-73.88836,spanish,"ap_english_language_and_composition,_ap_enviro...","baseball/softball,_basketball,_football,_socce..."
132,queens,excelsior_preparatory_high_school,springfield_gardens_north,science_&_math,ed._opt.,483,79,87,52,80,NaN,NaN,29q265,40.66823,-73.75683,spanish,"ap_biology,_ap_calculus_ab,_ap_computer_scienc...",NaN
144,brooklyn,el_puente_academy_for_peace_and_justice,williamsburg,humanities_&_interdisciplinary,ed._opt.,236,56,82,47,96,45.0,256.0,14k685,40.70589,-73.95561,spanish,NaN,intramural_sports
163,manhattan,eleanor_roosevelt_high_school,lenox_hill,humanities_&_interdisciplinary,screened,541,100,96,90,98,104.0,5052.0,02m416,40.77018,-73.95360,"french,_spanish","ap_art_history,_ap_biology,_ap_calculus_ab,_ap...",NaN
172,brooklyn,edward_r._murrow_high_school,midwood,communications,ed._opt.,3789,80,91,64,86,562.0,5667.0,21k525,40.62052,-73.95928,"french,_italian,_mandarin,_russian,_spanish","ap_art_history,_ap_biology,_ap_calculus_ab,_ap...",NaN
176,brooklyn,eagle_academy_for_young_men_ii,ocean_hill,humanities_&_interdisciplinary,open,647,96,90,55,89,67.0,321.0,23k644,40.67780,-73.91584,spanish,"ap_calculus_ab,_ap_english_language_and_compos...",NaN
216,brooklyn,expeditionary_learning_school_for_community_le...,gravesend,project-based_learning,ed._opt.,347,84,87,70,88,74.0,374.0,21k572,40.59429,-73.98577,spanish,ap_human_geography,NaN
229,manhattan,eagle_academy_for_young_men_of_harlem,central_harlem_north,humanities_&_interdisciplinary,ed._opt.,318,0,89,0,78,78.0,263.0,05m148,40.81737,-73.94771,spanish,NaN,NaN
292,bronx,explorations_academy,crotona_park_east,computer_science_&_technology,ed._opt.,351,66,81,37,86,85.0,270.0,12x251,40.83590,-73.89045,"french,_spanish","ap_biology,_ap_computer_science_principles,_ap...","basketball,_football,_intramural_sports,_socce..."
299,bronx,eximius_college_preparatory_academy:_a_college...,claremont-bathgate,humanities_&_interdisciplinary,ed._opt.,432,89,85,57,83,85.0,1334.0,09x250,40.83366,-73.90249,spanish,"ap_english_language_and_composition,_ap_microe...","basketball,_dance,_football,_volleyball"
315,manhattan,essex_street_academy,chinatown,humanities_&_interdisciplinary,open,340,83,87,74,96,67.0,1416.0,02m294,40.71734,-73.98959,"french,_spanish",NaN,NaN
318,manhattan,esperanza_preparatory_academy,east_harlem_south,science_&_math,screened:_language,559,73,86,41,84,65.0,255.0,04m372,40.79307,-73.94230,spanish,"ap_2-d_art_and_design,_ap_calculus_ab,_ap_draw...",NaN
352,queens,east-west_school_of_international_studies,flushing,humanities_&_interdisciplinary,ed._opt.,649,93,91,87,90,47.0,550.0,25q281,40.74954,-73.82207,"japanese,_korean,_mandarin","ap_calculus_ab,_ap_computer_science_principles...",NaN
398,brooklyn,east_williamsburg_scholars_academy,bushwick,law_&_government,ed._opt.,335,64,77,30,82,137.0,171.0,14k477,40.71218,-73.93972,"cantonese,_spanish","ap_computer_science_principles,_ap_english_lan...",NaN
401,brooklyn,ebc_high_school_for_public_service-bushwick,bushwick,humanities_&_interdisciplinary,ed._opt.,498,71,87,40,87,104.0,360.0,32k545,40.69450,-73.92910,spanish,"ap_chemistry,_ap_english_language_and_composit...",NaN

In [12]:
# SELECT * FROM users WHERE school_name LIKE '%academy'

sch[sch["school_name"].str.endswith('academy')]

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
1,queens,york_early_college_academy,south_jamaica,humanities_&_interdisciplinary,screened,646,99,95,94,93,68.0,1203.0,28q284,40.69718,-73.78719,spanish,"ap_united_states_history,_ap_world_history:_mo...",NaN
33,brooklyn,benjamin_banneker_academy,clinton_hill,law_&_government,screened,844,92,88,80,83,50.0,1356.0,13k670,40.69533,-73.96924,spanish,"ap_biology,_ap_calculus_ab,_ap_calculus_bc,_ap...",NaN
35,queens,hillside_arts_&_letters_academy,briarwood-jamaica_hills,humanities_&_interdisciplinary,ed._opt.,467,84,85,53,92,90.0,628.0,28q325,40.71321,-73.79723,spanish,"ap_biology,_ap_calculus_ab,_ap_computer_scienc...",cheerleading
36,bronx,fordham_leadership_academy,belmont,humanities_&_interdisciplinary,ed._opt.,342,72,90,32,70,85.0,739.0,10x438,40.86004,-73.88826,"american_sign_language,_japanese,_spanish","ap_calculus_ab,_ap_english_language_and_compos...",NaN
46,brooklyn,east_new_york_family_academy,east_new_york,humanities_&_interdisciplinary,screened,496,95,88,68,85,62.0,489.0,19k409,40.67413,-73.89642,"french,_spanish","ap_computer_science_principles,_ap_english_lan...",we_offer_intramural_sport_opportunities_for_al...
62,brooklyn,brooklyn_college_academy,windsor_terrace,humanities_&_interdisciplinary,screened,622,98,95,95,96,132.0,2412.0,22k555,40.64940,-73.97173,spanish,"ap_english_literature_and_composition,_ap_u.s....",NaN
79,queens,queens_preparatory_academy,springfield_gardens_north,science_&_math,ed._opt.,415,70,83,52,71,90.0,230.0,29q248,40.66823,-73.75683,spanish,"ap_calculus_ab,_ap_chemistry,_ap_english_langu...",NaN
107,manhattan,murray_hill_academy,murray_hill-kips_bay,humanities_&_interdisciplinary,ed._opt.,317,0,79,0,90,75.0,267.0,02m432,40.74617,-73.98124,spanish,"ap_english_language_and_composition,_ap_enviro...",NaN
110,brooklyn,urban_action_academy,canarsie,law_&_government,ed._opt.,278,58,81,33,81,89.0,119.0,18k642,40.64147,-73.89825,spanish,"ap_chemistry,_ap_computer_science_principles,_...","soccer,_basketball,_football,_wrestling,_baseb..."
120,bronx,longwood_preparatory_academy,longwood,humanities_&_interdisciplinary,ed._opt.,199,50,80,29,88,85.0,249.0,08x530,40.81751,-73.89821,spanish,"ap_english_literature_and_composition,_ap_unit...","boys_and_girls_basketball,_softball,_baseball,..."
123,manhattan,lower_manhattan_arts_academy,chinatown,performing_arts/visual_art_&_design,ed._opt.,329,81,88,58,86,62.0,670.0,02m308,40.71734,-73.98959,spanish,NaN,"basketball,_intramural_sports,_soccer,_swimming"
125,bronx,astor_collegiate_academy,bronxdale,science_&_math,ed._opt.,476,80,86,60,67,93.0,761.0,11x299,40.85966,-73.86100,"italian,_spanish","ap_biology,_ap_computer_science_principles,_ap...",NaN
155,manhattan,the_college_academy,washington_heights_n.,humanities_&_interdisciplinary,ed._opt.,460,54,85,38,67,65.0,280.0,06m462,40.85585,-73.92712,spanish,"ap_2-d_art_and_design,_ap_biology,_ap_calculus...","baseball,_softball,_football,_basketball,_socc..."
158,manhattan,orchard_collegiate_academy,lower_east_side,humanities_&_interdisciplinary,ed._opt.,171,66,87,36,93,75.0,165.0,01m292,40.71368,-73.98633,spanish,"ap_biology,_ap_english_literature_and_composit...","basketball,_soccer"
166,brooklyn,gotham_professional_arts_academy,crown_heights_north,performing_arts/visual_art_&_design,ed._opt.,168,55,78,50,76,67.0,222.0,13k594,40.67848,-73.96210,"american_sign_language,_spanish",NaN,NaN
170,bronx,validus_preparatory_academy,claremont-bathgate,health_professions,ed._opt.,372,64,79,45,90,64.0,468.0,09x263,40.83924,-73.90131,spanish,"ap_english_language_and_composition,_ap_englis...","basketball,_dance,_intramural_sports,_soccer,_..."
189,queens,civic_leadership_academy,elmhurst,humanities_&_interdisciplinary,ed._opt.,529,96,90,76,94,119.0,1139.0,24q293,40.74372,-73.87064,"french,_spanish","ap_biology,_ap_calculus_ab,_ap_english_languag...",basketball
201,bronx,wings_academy,east_tremont,computer_science_&_technology,ed._opt.,491,53,81,35,74,118.0,524.0,12x684,40.84179,-73.87536,"mandarin,_spanish","ap_computer_science_principles,_ap_english_lan...",NaN
217,bronx,bronx_engineering_and_technology_academy,spuyten_duyvil-kingsbridge,engineering,ed._opt.,399,77,82,53,79,85.0,903.0,10x213,40.87710,-73.91225,spanish,"ap_calculus_ab,_ap_computer_science_principles...",NaN
226,queens,veritas_academy,flushing,humanities_&_interdisciplinary,open,558,82,89,0,80,109.0,480.0,25q240,40.76516,-73.82788,spanish,"ap_biology,_ap_computer_science_a,_ap_computer...","badminton,_intramural_sports"
240,bronx,millennium_art_academy,castle_hill-clason_point,visual_art_&_design,ed._opt.,432,72,85,44,83,84.0,501.0,08x312,40.82229,-73.85616,spanish,"ap_2-d_art_and_design,_ap_chemistry,_ap_comput...",track/cross_country
261,queens,cambria_heights_academy,jamaica,computer_science_&_technology,ed._opt.,353,86,86,75,87,68.0,427.0,29q326,40.71184,-73.77119,"japanese,_spanish","ap_computer_science_principles,_ap_english_lan...",NaN
274,bronx,westchester_square_academy,schuylerville-throgs_neck,humanities_&_interdisciplinary,ed._opt.,609,74,87,60,68,64.0,767.0,08x558,40.84070,-73.83854,spanish,"ap_2-d_art_and_design,_ap_english_language_and...",track/cross_country
292,bronx,explorations_academy,crotona_park_east,computer_science_&_technology,ed._opt.,351,66,81,37,86,85.0,270.0,12x251,40.83590,-73.89045,"french,_spanish","ap_biology,_ap_computer_science_principles,_ap...","basketball,_football,_intramural_sports,_socce..."
303,queens,scholars'_academy,breezy_point-rockaway_park,humanities_&_interdisciplinary,screened,1376,100,95,98,95,129.0,1715.0,27q323,40.58410,-73.82571,spanish,"ap_art_history,_ap_biology,_ap_calculus_ab,_ap...","cheerleading,_dance"
315,manhattan,essex_street_academy,chinatown,humanities_&_interdisciplinary,open,340,83,87,74,96,67.0,1416.0,02m294,40.71734,-73.98959,"french,_spanish",NaN,NaN
318,manhattan,esperanza_preparatory_academy,east_harlem_south,science_&_math,screened:_language,559,73,86,41,84,65.0,255.0,04m372,40.79307,-73.94230,spanish,"ap_2-d_art_and_design,_ap_calculus_ab,_ap_draw...",NaN
346,bronx,the_bronxwood_preparatory_academy,williamsbridge-olinville,humanities_&_interdisciplinary,ed._opt.,405,64,91,39,76,85.0,306.0,11x514,40.88783,-73.85269,spanish,"ap_english_language_and_composition,_ap_englis...",NaN
347,bronx,bronx_collegiate_academy,e._concourse-concourse_village,humanities_&_interdisciplinary,ed._opt.,396,67,85,33,80,75.0,365.0,09x227,40.84042,-73.91091,"american_sign_language,_french,_spanish","ap_english_language_and_composition,_ap_englis...",cheerleading
348,manhattan,urban_assembly_maker_academy,chinatown,computer_science_&_technology,ed._opt.,386,0,89,0,86,90.0,458.0,02m282,40.71144,-74.00085,spanish,"ap_english_language_and_composition,_ap_enviro...","basketball,_intramural_sports,_soccer"
355,brooklyn,khalil_gibran_international_academy,dumbo-downtown_brooklyn,humanities_&_interdisciplinary,ed._opt.,270,67,85,57,76,67.0,82.0,15k592,40.68649,-73.97964,"arabic,_french",NaN,"basketball,_soccer,_track/cross_country"
360,manhattan,manhattan_village_academy,chelsea-union_sq,humanities_&_interdisciplinary,screened,456,99,98,91,93,83.0,4854.0,02m439,40.74149,-73.99151,"latin,_spanish","ap_biology,_ap_calculus_ab,_ap_computer_scienc...","baseball/softball,_basketball,_cheerleading,_d..."
386,bronx,bronx_design_and_construction_academy,melrose_s.-mott_haven_n.,engineering,ed._opt.,504,54,76,38,51,106.0,366.0,07x522,40.81823,-73.91986,spanish,"ap_english_literature_and_composition,_ap_envi...",NaN
395,bronx,pelham_preparatory_academy,bronxdale,humanities_&_interdisciplinary,ed._opt.,501,90,90,68,82,93.0,3049.0,11x542,40.85966,-73.86100,spanish,"ap_english_language_and_composition,_ap_englis...","cheerleading,_rising_ny_road_runners,_jiu-jitz..."
397,manhattan,frederick_douglass_academy,central_harlem_north,humanities_&_interdisciplinary,screened,1362,82,89,59,77,133.0,867.0,05m499,40.82431,-73.93711,"french,_japanese,_spanish","ap_biology,_ap_calculus_ab,_ap_computer_scienc...","basketball,_cheerleading,_dance,_soccer"
398,brooklyn,east_williamsburg_scholars_academy,bushwick,law_&_government,ed._opt.,335,64,77,30,82,137.0,171.0,14k477,40.71218,-73.93972,"cantonese,_spanish","ap_computer_science_principles,_ap_english_lan...",NaN
404,bronx,bronx_envision_academy,crotona_park_east,humanities_&_interdisciplinary,ed._opt.,429,64,81,50,82,85.0,308.0,12x511,40.83590,-73.89045,"mandarin,_spanish","ap_2-d_art_and_design,_ap_art_history,_ap_biol...","soccer,_badminton,_volleyball,_fitness_clubs_(..."
409,manhattan,humanities_preparatory_academy,chelsea-union_sq,humanities_&_interdisciplinary,screened,235,0,85,0,86,41.0,448.0,02m605,40.74286,-74.00213,french,"ap_computer_science_principles,_ap_environment...",NaN
411,manhattan,manhattan_business_academy,chelsea-union_sq,business,ed._opt.,423,86,87,77,88,90.0,1261.0,02m392,40.74286,-74.00213,spanish,"ap_biology,_ap_english_language_and_compositio...",NaN
425,brooklyn,it_takes_a_village_academy,east_flatbush,science_&_math,ed._opt.,730,89,91,76,67,89.0,387.0,18k563,40.64865,-73.92217,"french,_spanish","ap_biology,_ap_computer_science_a,_ap_computer...","basketball,_football,_soccer,_swimming,_track/..."

In [13]:
# SELECT * FROM users WHERE school_name LIKE '%aca%'

sch[sch["school_name"].str.contains('aca')]

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
1,queens,york_early_college_academy,south_jamaica,humanities_&_interdisciplinary,screened,646,99,95,94,93,68.0,1203.0,28q284,40.69718,-73.78719,spanish,"ap_united_states_history,_ap_world_history:_mo...",NaN
2,bronx,bronx_academy_for_software_engineering_(base),belmont,computer_science_&_technology,ed._opt.,426,78,88,0,82,85.0,1316.0,10x264,40.85569,-73.88271,spanish,"ap_computer_science_a,_ap_computer_science_pri...",NaN
16,manhattan,manhattan_academy_for_arts_&_language,murray_hill-kips_bay,science_&_math,screened:_language,269,52,86,43,82,90.0,143.0,02m427,40.74617,-73.98124,spanish,"ap_english_language_and_composition,_ap_englis...",basketball
27,queens,eagle_academy_for_young_men_iii,st._albans,humanities_&_interdisciplinary,ed._opt.,531,93,91,0,63,63.0,127.0,29q327,40.69171,-73.77892,spanish,"ap_biology,_ap_english_language_and_compositio...",NaN
30,brooklyn,academy_of_innovative_technology,cypress_hills,computer_science_&_technology,ed._opt.,403,74,88,48,89,89.0,568.0,19k618,40.69114,-73.86832,spanish,"ap_calculus_ab,_ap_computer_science_a,_ap_engl...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,brooklyn,bedford_academy_high_school,bedford-stuyvesant,computer_science_&_technology,screened,364,98,93,88,91,34.0,1889.0,13k595,40.68538,-73.95430,"french,_mandarin,_spanish","ap_biology,_ap_calculus_ab,_ap_computer_scienc...",NaN
418,bronx,west_bronx_academy_for_the_future,belmont,humanities_&_interdisciplinary,for_continuing_8th_graders,607,87,84,54,75,NaN,NaN,10x243,40.86004,-73.88826,spanish,"ap_2-d_art_and_design,_ap_english_language_and...",NaN
421,manhattan,frederick_douglass_academy_ii_secondary_school,central_harlem_south,science_&_math,ed._opt.,354,71,82,39,74,77.0,295.0,03m860,40.80220,-73.95414,spanish,"ap_biology,_ap_english_language_and_compositio...","baseball/softball,_basketball,_football,_socce..."
424,bronx,academy_for_scholarship_and_entrepreneurship:_...,williamsbridge-olinville,business,ed._opt.,377,65,81,40,67,64.0,299.0,11x270,40.88783,-73.85269,spanish,"ap_english_literature_and_composition,_ap_envi...",NaN
425,brooklyn,it_takes_a_village_academy,east_flatbush,science_&_math,ed._opt.,730,89,91,76,67,89.0,387.0,18k563,40.64865,-73.92217,"french,_spanish","ap_biology,_ap_computer_science_a,_ap_computer...","basketball,_football,_soccer,_swimming,_track/..."

In [14]:
# SELECT * FROM sch ORDER BY school_name, interest
sch.sort_values(["school_name", "interest"], ascending=False)

,borough,school_name,neighborhood,interest,method,total_students,graduation_rate,attendance_rate,college_career_rate,safe,seats,applicants,dbn,latitude,longitude,language_classes,advanced_placement_courses,school_sports
20,bronx,young_women's_leadership_school_of_the_bronx_(...,mount_hope,computer_science_&_technology,screened,465,0,92,0,85,64.0,437.0,09x568,40.84854,-73.90841,spanish,"ap_computer_science_principles,_ap_psychology,...","basketball,_softball,_track,_volleyball"
385,brooklyn,young_women's_leadership_school_of_brooklyn_(t...,bushwick,humanities_&_interdisciplinary,screened,406,100,88,97,86,77.0,432.0,14k614,40.70520,-73.93940,spanish,"ap_calculus_ab,_ap_computer_science_principles...","track/cross_country,_volleyball,_basketball,_c..."
47,manhattan,young_women's_leadership_school_(tywls),east_harlem_south,science_&_math,screened,481,100,94,97,94,67.0,1052.0,04m610,40.79274,-73.94742,spanish,"ap_biology,_ap_calculus_ab,_ap_english_literat...",NaN
40,queens,"young_women's_leadership_school,_queens_(tywls)",briarwood-jamaica_hills,humanities_&_interdisciplinary,screened,563,96,94,84,87,68.0,529.0,28q896,40.70752,-73.80641,"french,_spanish","ap_calculus_ab,_ap_computer_science_principles...","bowling,_cross_country,_indoor_track,_outdoor_..."
173,queens,"young_women's_leadership_school,_astoria_(tywls)",old_astoria,humanities_&_interdisciplinary,screened,565,96,94,92,95,68.0,438.0,30q286,40.77121,-73.92459,spanish,"ap_2-d_art_and_design,_ap_calculus_ab,_ap_comp...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,brooklyn,academy_for_college_preparation_and_career_exp...,flatbush,humanities_&_interdisciplinary,ed._opt.,422,64,84,49,77,67.0,113.0,17k382,40.64978,-73.95855,spanish,"ap_computer_science_principles,_ap_english_lan...",dance
195,queens,academy_for_careers_in_television_and_film_(actv),hunters_point-sunnyside,film/video,ed._opt.,565,98,93,81,90,113.0,1435.0,30q301,40.74295,-73.95919,french,"ap_calculus_ab,_ap_computer_science_principles...",NaN
271,brooklyn,abraham_lincoln_high_school,west_brighton,animal_science,ed._opt.,1998,71,86,45,84,107.0,583.0,21k410,40.58168,-73.96730,"cantonese,_spanish","ap_calculus_ab,_ap_calculus_bc,_ap_computer_sc...",NaN
323,manhattan,a._philip_randolph_campus_high_school,manhattanville,humanities_&_interdisciplinary,ed._opt.,1375,73,84,53,87,86.0,804.0,06m540,40.81818,-73.95035,"french,_spanish","ap_biology,_ap_calculus_ab,_ap_english_languag...",NaN
277,manhattan,47_the_american_sign_language_and_english_seco...,gramercy,humanities_&_interdisciplinary,screened,165,91,86,62,92,57.0,353.0,02m047,40.73854,-73.98245,american_sign_language,"ap_biology,_ap_english_language_and_compositio...",NaN

In [15]:
# function to find the primary key in the data set 
def find_primary_key_candidates(df):
    pk_candidates = []
    
    for col in df.columns:
        if df[col].isna().sum() == 0 and df[col].is_unique:
            pk_candidates.append(col)

    return pk_candidates

In [16]:
find_primary_key_candidates(sch)

['school_name', 'dbn']

In [17]:
find_primary_key_candidates(bike)

[]

In [18]:
bike = bike.reset_index(drop=True)
bike["pk"] = bike.index + 1       # starts at 1 instead of 0

In [19]:
find_primary_key_candidates(bike)

['pk']