In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.3.1'

In [9]:
#we use this dataset: car_fuel_efficiency.csv
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [10]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [12]:
#QN2. How many records in the dataset?
df.shape[0]

9704

In [13]:
#QN3. How many fuel types are prented in the dataset?

df.fuel_type.nunique()

2

In [14]:
df.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

In [15]:
#Q4. How many columns in the dataset have missing values?
df.isnull().sum

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [16]:
(df.isnull().sum()>0).sum()

np.int64(4)

In [17]:
#What's the maximum fuel efficiency of cars from Asia in the dataset?

df.groupby('origin')['fuel_efficiency_mpg'].agg(['min','mean','max'])

             min       mean        max
origin
Asia    6.886245  14.973830  23.759123
Europe  6.200971  14.942532  25.967222
USA     6.695483  15.040204  24.971452

In [20]:
df[df.origin == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

Question 6

1.Find the median value of horsepower column in the dataset.

2.Next, calculate the most frequent value of the same horsepower column.

3.Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.

4.Now, calculate the median value of horsepower once again.
Has it changed?

In [24]:
median_df=df['horsepower'].median()
median_df

np.float64(149.0)

In [27]:
df['horsepower'].fillna(median_df).median()

np.float64(149.0)

No, is not change

Question 7

1.Select all the cars from Europe

2.Select only columns vehicle_weight and model_year

3.Select the first 7 values

4.Get the underlying NumPy array. Let's call it X.

5.Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

6. Invert XTX.
   
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

9. What's the sum of all the elements of the result?